<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>AEacute</key>
  <string>A_E_acute.glif</string>
  <key>Aacute</key>
  <string>A_acute.glif</string>
  <key>Abreve</key>
  <string>A_breve.glif</string>
  <key>Acircumflex</key>
  <string>A_circumflex.glif</string>
  <key>Adieresis</key>
  <string>A_dieresis.glif</string>
  <key>Agrave</key>
  <string>A_grave.glif</string>
  <key>Alphatonos</key>
  <string>A_lphatonos.glif</string>
  <key>Amacron</key>
  <string>A_macron.glif</string>
  <key>Aogonek</key>
  <string>A_ogonek.glif</string>
  <key>Aring</key>
  <string>A_ring.glif</string>
  <key>Aringacute</key>
  <string>A_ringacute.glif</string>
  <key>Atilde</key>
  <string>A_tilde.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>Be-cy</key>
  <string>B_e-cy.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>C-fraktur</key>
  <string>C_-fraktur.glif</string>
  <key>Cacute</key>
  <string>C_acute.glif</string>
  <key>Ccaron</key>
  <string>C_caron.glif</string>
  <key>Ccedilla</key>
  <string>C_cedilla.glif</string>
  <key>Ccircumflex</key>
  <string>C_circumflex.glif</string>
  <key>Cdotaccent</key>
  <string>C_dotaccent.glif</string>
  <key>Che-cy</key>
  <string>C_he-cy.glif</string>
  <key>Chedescender-cy</key>
  <string>C_hedescender-cy.glif</string>
  <key>Chekhakassian-cy</key>
  <string>C_hekhakassian-cy.glif</string>
  <key>Cheverticalstroke-cy</key>
  <string>C_heverticalstroke-cy.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>Dcaron</key>
  <string>D_caron.glif</string>
  <key>Dcroat</key>
  <string>D_croat.glif</string>
  <key>De-cy</key>
  <string>D_e-cy.glif</string>
  <key>Delta</key>
  <string>D_elta.glif</string>
  <key>Dje-cy</key>
  <string>D_je-cy.glif</string>
  <key>Dzhe-cy</key>
  <string>D_zhe-cy.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>E-cy</key>
  <string>E_-cy.glif</string>
  <key>Eacute</key>
  <string>E_acute.glif</string>
  <key>Ebreve</key>
  <string>E_breve.glif</string>
  <key>Ecaron</key>
  <string>E_caron.glif</string>
  <key>Ecircumflex</key>
  <string>E_circumflex.glif</string>
  <key>Edieresis</key>
  <string>E_dieresis.glif</string>
  <key>Edotaccent</key>
  <string>E_dotaccent.glif</string>
  <key>Egrave</key>
  <string>E_grave.glif</string>
  <key>El-cy</key>
  <string>E_l-cy.glif</string>
  <key>Emacron</key>
  <string>E_macron.glif</string>
  <key>Endescender-cy</key>
  <string>E_ndescender-cy.glif</string>
  <key>Eng</key>
  <string>E_ng.glif</string>
  <key>Eogonek</key>
  <string>E_ogonek.glif</string>
  <key>Epsilontonos</key>
  <string>E_psilontonos.glif</string>
  <key>Ereversed-cy</key>
  <string>E_reversed-cy.glif</string>
  <key>Esdescender-cy</key>
  <string>E_sdescender-cy.glif</string>
  <key>Etatonos</key>
  <string>E_tatonos.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>Fita-cy</key>
  <string>F_ita-cy.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>Gamma</key>
  <string>G_amma.glif</string>
  <key>Gbreve</key>
  <string>G_breve.glif</string>
  <key>Gcircumflex</key>
  <string>G_circumflex.glif</string>
  <key>Gcommaaccent</key>
  <string>G_commaaccent.glif</string>
  <key>Gdotaccent</key>
  <string>G_dotaccent.glif</string>
  <key>Gestroke-cy</key>
  <string>G_estroke-cy.glif</string>
  <key>Geupturn-cy</key>
  <string>G_eupturn-cy.glif</string>
  <key>Gje-cy</key>
  <string>G_je-cy.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>Hadescender-cy</key>
  <string>H_adescender-cy.glif</string>
  <key>Hardsign-cy</key>
  <string>H_ardsign-cy.glif</string>
  <key>Hbar</key>
  <string>H_bar.glif</string>
  <key>Hcircumflex</key>
  <string>H_circumflex.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>I-fraktur</key>
  <string>I_-fraktur.glif</string>
  <key>IJ</key>
  <string>I_J_.glif</string>
  <key>Iacute</key>
  <string>I_acute.glif</string>
  <key>Ibreve</key>
  <string>I_breve.glif</string>
  <key>Icircumflex</key>
  <string>I_circumflex.glif</string>
  <key>Idieresis</key>
  <string>I_dieresis.glif</string>
  <key>Idotaccent</key>
  <string>I_dotaccent.glif</string>
  <key>Igrave</key>
  <string>I_grave.glif</string>
  <key>Ii-cy</key>
  <string>I_i-cy.glif</string>
  <key>Iigrave-cy</key>
  <string>I_igrave-cy.glif</string>
  <key>Iishort-cy</key>
  <string>I_ishort-cy.glif</string>
  <key>Imacron</key>
  <string>I_macron.glif</string>
  <key>Imacron-cy</key>
  <string>I_macron-cy.glif</string>
  <key>Io-cy</key>
  <string>I_o-cy.glif</string>
  <key>Iogonek</key>
  <string>I_ogonek.glif</string>
  <key>Iotadieresis</key>
  <string>I_otadieresis.glif</string>
  <key>Iotatonos</key>
  <string>I_otatonos.glif</string>
  <key>Itilde</key>
  <string>I_tilde.glif</string>
  <key>Izhitsa-cy</key>
  <string>I_zhitsa-cy.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>Jcircumflex</key>
  <string>J_circumflex.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>Ka-cy</key>
  <string>K_a-cy.glif</string>
  <key>Kabashkir-cy</key>
  <string>K_abashkir-cy.glif</string>
  <key>Kadescender-cy</key>
  <string>K_adescender-cy.glif</string>
  <key>Kaverticalstroke-cy</key>
  <string>K_averticalstroke-cy.glif</string>
  <key>Kcommaaccent</key>
  <string>K_commaaccent.glif</string>
  <key>Kje-cy</key>
  <string>K_je-cy.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>Lacute</key>
  <string>L_acute.glif</string>
  <key>Lambda</key>
  <string>L_ambda.glif</string>
  <key>Lcaron</key>
  <string>L_caron.glif</string>
  <key>Lcommaaccent</key>
  <string>L_commaaccent.glif</string>
  <key>Ldot</key>
  <string>L_dot.glif</string>
  <key>Lje-cy</key>
  <string>L_je-cy.glif</string>
  <key>Lscript</key>
  <string>L_script.glif</string>
  <key>Lslash</key>
  <string>L_slash.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>Nacute</key>
  <string>N_acute.glif</string>
  <key>Ncaron</key>
  <string>N_caron.glif</string>
  <key>Ncommaaccent</key>
  <string>N_commaaccent.glif</string>
  <key>Nje-cy</key>
  <string>N_je-cy.glif</string>
  <key>Ntilde</key>
  <string>N_tilde.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Oacute</key>
  <string>O_acute.glif</string>
  <key>Obarred-cy</key>
  <string>O_barred-cy.glif</string>
  <key>Obreve</key>
  <string>O_breve.glif</string>
  <key>Ocircumflex</key>
  <string>O_circumflex.glif</string>
  <key>Odieresis</key>
  <string>O_dieresis.glif</string>
  <key>Ograve</key>
  <string>O_grave.glif</string>
  <key>Ohm</key>
  <string>O_hm.glif</string>
  <key>Ohungarumlaut</key>
  <string>O_hungarumlaut.glif</string>
  <key>Omacron</key>
  <string>O_macron.glif</string>
  <key>Omega</key>
  <string>O_mega.glif</string>
  <key>Omegatonos</key>
  <string>O_megatonos.glif</string>
  <key>Omicrontonos</key>
  <string>O_microntonos.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>Oslashacute</key>
  <string>O_slashacute.glif</string>
  <key>Otilde</key>
  <string>O_tilde.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Phi</key>
  <string>P_hi.glif</string>
  <key>Pi</key>
  <string>P_i.glif</string>
  <key>Psi</key>
  <string>P_si.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>R-fraktur</key>
  <string>R_-fraktur.glif</string>
  <key>Racute</key>
  <string>R_acute.glif</string>
  <key>Rcaron</key>
  <string>R_caron.glif</string>
  <key>Rcommaaccent</key>
  <string>R_commaaccent.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>Sacute</key>
  <string>S_acute.glif</string>
  <key>Scaron</key>
  <string>S_caron.glif</string>
  <key>Scedilla</key>
  <string>S_cedilla.glif</string>
  <key>Schwa-cy</key>
  <string>S_chwa-cy.glif</string>
  <key>Scircumflex</key>
  <string>S_circumflex.glif</string>
  <key>Scommaaccent</key>
  <string>S_commaaccent.glif</string>
  <key>Sha-cy</key>
  <string>S_ha-cy.glif</string>
  <key>Shcha-cy</key>
  <string>S_hcha-cy.glif</string>
  <key>Shha-cy</key>
  <string>S_hha-cy.glif</string>
  <key>Sigma</key>
  <string>S_igma.glif</string>
  <key>Softsign-cy</key>
  <string>S_oftsign-cy.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>Tbar</key>
  <string>T_bar.glif</string>
  <key>Tcaron</key>
  <string>T_caron.glif</string>
  <key>Tcedilla</key>
  <string>T_cedilla.glif</string>
  <key>Tcommaaccent</key>
  <string>T_commaaccent.glif</string>
  <key>Theta</key>
  <string>T_heta.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>Tse-cy</key>
  <string>T_se-cy.glif</string>
  <key>Tshe-cy</key>
  <string>T_she-cy.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>U-cy</key>
  <string>U_-cy.glif</string>
  <key>Uacute</key>
  <string>U_acute.glif</string>
  <key>Ubreve</key>
  <string>U_breve.glif</string>
  <key>Ucircumflex</key>
  <string>U_circumflex.glif</string>
  <key>Udieresis</key>
  <string>U_dieresis.glif</string>
  <key>Ugrave</key>
  <string>U_grave.glif</string>
  <key>Uhungarumlaut</key>
  <string>U_hungarumlaut.glif</string>
  <key>Umacron</key>
  <string>U_macron.glif</string>
  <key>Umacron-cy</key>
  <string>U_macron-cy.glif</string>
  <key>Uogonek</key>
  <string>U_ogonek.glif</string>
  <key>Upsilondieresis</key>
  <string>U_psilondieresis.glif</string>
  <key>Upsilontonos</key>
  <string>U_psilontonos.glif</string>
  <key>Uring</key>
  <string>U_ring.glif</string>
  <key>Ushort-cy</key>
  <string>U_short-cy.glif</string>
  <key>Ustraightstroke-cy</key>
  <string>U_straightstroke-cy.glif</string>
  <key>Utilde</key>
  <string>U_tilde.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>Wacute</key>
  <string>W_acute.glif</string>
  <key>Wcircumflex</key>
  <string>W_circumflex.glif</string>
  <key>Wdieresis</key>
  <string>W_dieresis.glif</string>
  <key>Wgrave</key>
  <string>W_grave.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Xi</key>
  <string>X_i.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Ya-cy</key>
  <string>Y_a-cy.glif</string>
  <key>Yacute</key>
  <string>Y_acute.glif</string>
  <key>Yat-cy</key>
  <string>Y_at-cy.glif</string>
  <key>Ycircumflex</key>
  <string>Y_circumflex.glif</string>
  <key>Ydieresis</key>
  <string>Y_dieresis.glif</string>
  <key>Yeru-cy</key>
  <string>Y_eru-cy.glif</string>
  <key>Ygrave</key>
  <string>Y_grave.glif</string>
  <key>Yu-cy</key>
  <string>Y_u-cy.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>Z-fraktur</key>
  <string>Z_-fraktur.glif</string>
  <key>Zacute</key>
  <string>Z_acute.glif</string>
  <key>Zcaron</key>
  <string>Z_caron.glif</string>
  <key>Zdotaccent</key>
  <string>Z_dotaccent.glif</string>
  <key>Ze-cy</key>
  <string>Z_e-cy.glif</string>
  <key>Zedescender-cy</key>
  <string>Z_edescender-cy.glif</string>
  <key>Zhe-cy</key>
  <string>Z_he-cy.glif</string>
  <key>Zhedescender-cy</key>
  <string>Z_hedescender-cy.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>abreve</key>
  <string>abreve.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>aeacute</key>
  <string>aeacute.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>alephsymbol</key>
  <string>alephsymbol.glif</string>
  <key>alpha</key>
  <string>alpha.glif</string>
  <key>alphatonos</key>
  <string>alphatonos.glif</string>
  <key>amacron</key>
  <string>amacron.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>angle</key>
  <string>angle.glif</string>
  <key>angleLeft</key>
  <string>angleL_eft.glif</string>
  <key>angleRight</key>
  <string>angleR_ight.glif</string>
  <key>anoteleia</key>
  <string>anoteleia.glif</string>
  <key>aogonek</key>
  <string>aogonek.glif</string>
  <key>approxequal</key>
  <string>approxequal.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>aringacute</key>
  <string>aringacute.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>asteriskmath</key>
  <string>asteriskmath.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>be-cy</key>
  <string>be-cy.glif</string>
  <key>because</key>
  <string>because.glif</string>
  <key>beta</key>
  <string>beta.glif</string>
  <key>betsymbol</key>
  <string>betsymbol.glif</string>
  <key>blackCircle</key>
  <string>blackC_ircle.glif</string>
  <key>blackDiamond</key>
  <string>blackD_iamond.glif</string>
  <key>blackSmallSquare</key>
  <string>blackS_mallS_quare.glif</string>
  <key>blackSmilingFace</key>
  <string>blackS_milingF_ace.glif</string>
  <key>blackSquare</key>
  <string>blackS_quare.glif</string>
  <key>boxDoubleDownAndHorizontal</key>
  <string>boxD_oubleD_ownA_ndH_orizontal.glif</string>
  <key>boxDoubleDownAndLeft</key>
  <string>boxD_oubleD_ownA_ndL_eft.glif</string>
  <key>boxDoubleDownAndRight</key>
  <string>boxD_oubleD_ownA_ndR_ight.glif</string>
  <key>boxDoubleHorizontal</key>
  <string>boxD_oubleH_orizontal.glif</string>
  <key>boxDoubleUpAndHorizontal</key>
  <string>boxD_oubleU_pA_ndH_orizontal.glif</string>
  <key>boxDoubleUpAndLeft</key>
  <string>boxD_oubleU_pA_ndL_eft.glif</string>
  <key>boxDoubleUpAndRight</key>
  <string>boxD_oubleU_pA_ndR_ight.glif</string>
  <key>boxDoubleVertical</key>
  <string>boxD_oubleV_ertical.glif</string>
  <key>boxDoubleVerticalAndHorizontal</key>
  <string>boxD_oubleV_erticalA_ndH_orizontal.glif</string>
  <key>boxDoubleVerticalAndLeft</key>
  <string>boxD_oubleV_erticalA_ndL_eft.glif</string>
  <key>boxDoubleVerticalAndRight</key>
  <string>boxD_oubleV_erticalA_ndR_ight.glif</string>
  <key>boxDownDoubleAndHorizontalSingle</key>
  <string>boxD_ownD_oubleA_ndH_orizontalS_ingle.glif</string>
  <key>boxDownDoubleAndLeftSingle</key>
  <string>boxD_ownD_oubleA_ndL_eftS_ingle.glif</string>
  <key>boxDownDoubleAndRightSingle</key>
  <string>boxD_ownD_oubleA_ndR_ightS_ingle.glif</string>
  <key>boxDownSingleAndHorizontalDouble</key>
  <string>boxD_ownS_ingleA_ndH_orizontalD_ouble.glif</string>
  <key>boxDownSingleAndLeftDouble</key>
  <string>boxD_ownS_ingleA_ndL_eftD_ouble.glif</string>
  <key>boxDownSingleAndRightDouble</key>
  <string>boxD_ownS_ingleA_ndR_ightD_ouble.glif</string>
  <key>boxLightArcDownAndLeft</key>
  <string>boxL_ightA_rcD_ownA_ndL_eft.glif</string>
  <key>boxLightArcDownAndRight</key>
  <string>boxL_ightA_rcD_ownA_ndR_ight.glif</string>
  <key>boxLightArcUpAndLeft</key>
  <string>boxL_ightA_rcU_pA_ndL_eft.glif</string>
  <key>boxLightArcUpAndRight</key>
  <string>boxL_ightA_rcU_pA_ndR_ight.glif</string>
  <key>boxLightDownAndHorizontal</key>
  <string>boxL_ightD_ownA_ndH_orizontal.glif</string>
  <key>boxLightDownAndLeft</key>
  <string>boxL_ightD_ownA_ndL_eft.glif</string>
  <key>boxLightDownAndRight</key>
  <string>boxL_ightD_ownA_ndR_ight.glif</string>
  <key>boxLightHorizontal</key>
  <string>boxL_ightH_orizontal.glif</string>
  <key>boxLightUpAndHorizontal</key>
  <string>boxL_ightU_pA_ndH_orizontal.glif</string>
  <key>boxLightUpAndLeft</key>
  <string>boxL_ightU_pA_ndL_eft.glif</string>
  <key>boxLightUpAndRight</key>
  <string>boxL_ightU_pA_ndR_ight.glif</string>
  <key>boxLightVertical</key>
  <string>boxL_ightV_ertical.glif</string>
  <key>boxLightVerticalAndHorizontal</key>
  <string>boxL_ightV_erticalA_ndH_orizontal.glif</string>
  <key>boxLightVerticalAndLeft</key>
  <string>boxL_ightV_erticalA_ndL_eft.glif</string>
  <key>boxLightVerticalAndRight</key>
  <string>boxL_ightV_erticalA_ndR_ight.glif</string>
  <key>boxUpDoubleAndHorizontalSingle</key>
  <string>boxU_pD_oubleA_ndH_orizontalS_ingle.glif</string>
  <key>boxUpDoubleAndLeftSingle</key>
  <string>boxU_pD_oubleA_ndL_eftS_ingle.glif</string>
  <key>boxUpDoubleAndRightSingle</key>
  <string>boxU_pD_oubleA_ndR_ightS_ingle.glif</string>
  <key>boxUpSingleAndHorizontalDouble</key>
  <string>boxU_pS_ingleA_ndH_orizontalD_ouble.glif</string>
  <key>boxUpSingleAndLeftDouble</key>
  <string>boxU_pS_ingleA_ndL_eftD_ouble.glif</string>
  <key>boxUpSingleAndRightDouble</key>
  <string>boxU_pS_ingleA_ndR_ightD_ouble.glif</string>
  <key>boxVerticalDoubleAndHorizontalSingle</key>
  <string>boxV_erticalD_oubleA_ndH_orizontalS_ingle.glif</string>
  <key>boxVerticalDoubleAndLeftSingle</key>
  <string>boxV_erticalD_oubleA_ndL_eftS_ingle.glif</string>
  <key>boxVerticalDoubleAndRightSingle</key>
  <string>boxV_erticalD_oubleA_ndR_ightS_ingle.glif</string>
  <key>boxVerticalSingleAndHorizontalDouble</key>
  <string>boxV_erticalS_ingleA_ndH_orizontalD_ouble.glif</string>
  <key>boxVerticalSingleAndLeftDouble</key>
  <string>boxV_erticalS_ingleA_ndL_eftD_ouble.glif</string>
  <key>boxVerticalSingleAndRightDouble</key>
  <string>boxV_erticalS_ingleA_ndR_ightD_ouble.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>breve</key>
  <string>breve.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>bulletoperator</key>
  <string>bulletoperator.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>cacute</key>
  <string>cacute.glif</string>
  <key>careof</key>
  <string>careof.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>carriagereturn</key>
  <string>carriagereturn.glif</string>
  <key>ccaron</key>
  <string>ccaron.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>ccircumflex</key>
  <string>ccircumflex.glif</string>
  <key>cdotaccent</key>
  <string>cdotaccent.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>che-cy</key>
  <string>che-cy.glif</string>
  <key>chedescender-cy</key>
  <string>chedescender-cy.glif</string>
  <key>chekhakassian-cy</key>
  <string>chekhakassian-cy.glif</string>
  <key>cheverticalstroke-cy</key>
  <string>cheverticalstroke-cy.glif</string>
  <key>chi</key>
  <string>chi.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>clubBlackSuit</key>
  <string>clubB_lackS_uit.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>congruent</key>
  <string>congruent.glif</string>
  <key>containsasmemberSmall</key>
  <string>containsasmemberS_mall.glif</string>
  <key>contourIntegral</key>
  <string>contourI_ntegral.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>dcaron</key>
  <string>dcaron.glif</string>
  <key>dcroat</key>
  <string>dcroat.glif</string>
  <key>de-cy</key>
  <string>de-cy.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>delta</key>
  <string>delta.glif</string>
  <key>diamondBlackSuit</key>
  <string>diamondB_lackS_uit.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>dieresistonos</key>
  <string>dieresistonos.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>divides</key>
  <string>divides.glif</string>
  <key>dje-cy</key>
  <string>dje-cy.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dotaccent</key>
  <string>dotaccent.glif</string>
  <key>downArrow</key>
  <string>downA_rrow.glif</string>
  <key>downBlackTriangle</key>
  <string>downB_lackT_riangle.glif</string>
  <key>downDoubleArrow</key>
  <string>downD_oubleA_rrow.glif</string>
  <key>downWhiteSmallTriangle</key>
  <string>downW_hiteS_mallT_riangle.glif</string>
  <key>drachma</key>
  <string>drachma.glif</string>
  <key>dzhe-cy</key>
  <string>dzhe-cy.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>e-cy</key>
  <string>e-cy.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>ebreve</key>
  <string>ebreve.glif</string>
  <key>ecaron</key>
  <string>ecaron.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>edotaccent</key>
  <string>edotaccent.glif</string>
  <key>ef-cy</key>
  <string>ef-cy.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>eightsuperior</key>
  <string>eightsuperior.glif</string>
  <key>el-cy</key>
  <string>el-cy.glif</string>
  <key>element</key>
  <string>element.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>em-cy</key>
  <string>em-cy.glif</string>
  <key>emacron</key>
  <string>emacron.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>emptyset</key>
  <string>emptyset.glif</string>
  <key>en-cy</key>
  <string>en-cy.glif</string>
  <key>enclosingcirclecomb</key>
  <string>enclosingcirclecomb.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>endescender-cy</key>
  <string>endescender-cy.glif</string>
  <key>eng</key>
  <string>eng.glif</string>
  <key>enspace</key>
  <string>enspace.glif</string>
  <key>eogonek</key>
  <string>eogonek.glif</string>
  <key>epsilon</key>
  <string>epsilon.glif</string>
  <key>epsilontonos</key>
  <string>epsilontonos.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>equivalence</key>
  <string>equivalence.glif</string>
  <key>ereversed-cy</key>
  <string>ereversed-cy.glif</string>
  <key>escript</key>
  <string>escript.glif</string>
  <key>esdescender-cy</key>
  <string>esdescender-cy.glif</string>
  <key>estimated</key>
  <string>estimated.glif</string>
  <key>eta</key>
  <string>eta.glif</string>
  <key>etatonos</key>
  <string>etatonos.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>euro</key>
  <string>euro.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclamdouble</key>
  <string>exclamdouble.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>existential</key>
  <string>existential.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>ff</key>
  <string>ff.glif</string>
  <key>ffi</key>
  <string>ffi.glif</string>
  <key>ffl</key>
  <string>ffl.glif</string>
  <key>fhook</key>
  <string>fhook.glif</string>
  <key>fi</key>
  <string>fi.glif</string>
  <key>filledRect</key>
  <string>filledR_ect.glif</string>
  <key>fita-cy</key>
  <string>fita-cy.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>fiveeighths</key>
  <string>fiveeighths.glif</string>
  <key>fivesuperior</key>
  <string>fivesuperior.glif</string>
  <key>fl</key>
  <string>fl.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>foursuperior</key>
  <string>foursuperior.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>fraction.circled</key>
  <string>fraction.circled.glif</string>
  <key>franc</key>
  <string>franc.glif</string>
  <key>fullBlock</key>
  <string>fullB_lock.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>gamma</key>
  <string>gamma.glif</string>
  <key>gbreve</key>
  <string>gbreve.glif</string>
  <key>gcircumflex</key>
  <string>gcircumflex.glif</string>
  <key>gcommaaccent</key>
  <string>gcommaaccent.glif</string>
  <key>gdotaccent</key>
  <string>gdotaccent.glif</string>
  <key>ge-cy</key>
  <string>ge-cy.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>gestroke-cy</key>
  <string>gestroke-cy.glif</string>
  <key>geupturn-cy</key>
  <string>geupturn-cy.glif</string>
  <key>gimelsymbol</key>
  <string>gimelsymbol.glif</string>
  <key>gje-cy</key>
  <string>gje-cy.glif</string>
  <key>gradient</key>
  <string>gradient.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>greaterequal</key>
  <string>greaterequal.glif</string>
  <key>guillemetleft</key>
  <string>guillemetleft.glif</string>
  <key>guillemetright</key>
  <string>guillemetright.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>hadescender-cy</key>
  <string>hadescender-cy.glif</string>
  <key>hardsign-cy</key>
  <string>hardsign-cy.glif</string>
  <key>hbar</key>
  <string>hbar.glif</string>
  <key>hcircumflex</key>
  <string>hcircumflex.glif</string>
  <key>heartBlackSuit</key>
  <string>heartB_lackS_uit.glif</string>
  <key>house</key>
  <string>house.glif</string>
  <key>hungarumlaut</key>
  <string>hungarumlaut.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>ibreve</key>
  <string>ibreve.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>idotless</key>
  <string>idotless.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>iishort-cy</key>
  <string>iishort-cy.glif</string>
  <key>ij</key>
  <string>ij.glif</string>
  <key>imacron</key>
  <string>imacron.glif</string>
  <key>imacron-cy</key>
  <string>imacron-cy.glif</string>
  <key>increment</key>
  <string>increment.glif</string>
  <key>infinity</key>
  <string>infinity.glif</string>
  <key>integral</key>
  <string>integral.glif</string>
  <key>integralbt</key>
  <string>integralbt.glif</string>
  <key>integraltp</key>
  <string>integraltp.glif</string>
  <key>intersection</key>
  <string>intersection.glif</string>
  <key>inverseBullet</key>
  <string>inverseB_ullet.glif</string>
  <key>inverseWhiteCircle</key>
  <string>inverseW_hiteC_ircle.glif</string>
  <key>iogonek</key>
  <string>iogonek.glif</string>
  <key>iotadieresistonos</key>
  <string>iotadieresistonos.glif</string>
  <key>iotatonos</key>
  <string>iotatonos.glif</string>
  <key>itilde</key>
  <string>itilde.glif</string>
  <key>izhitsa-cy</key>
  <string>izhitsa-cy.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>jcircumflex</key>
  <string>jcircumflex.glif</string>
  <key>jdotless</key>
  <string>jdotless.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>kabashkir-cy</key>
  <string>kabashkir-cy.glif</string>
  <key>kadescender-cy</key>
  <string>kadescender-cy.glif</string>
  <key>kappa</key>
  <string>kappa.glif</string>
  <key>kaverticalstroke-cy</key>
  <string>kaverticalstroke-cy.glif</string>
  <key>kcommaaccent</key>
  <string>kcommaaccent.glif</string>
  <key>kgreenlandic</key>
  <string>kgreenlandic.glif</string>
  <key>kje-cy</key>
  <string>kje-cy.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>lacute</key>
  <string>lacute.glif</string>
  <key>lambda</key>
  <string>lambda.glif</string>
  <key>lcaron</key>
  <string>lcaron.glif</string>
  <key>lcommaaccent</key>
  <string>lcommaaccent.glif</string>
  <key>ldot</key>
  <string>ldot.glif</string>
  <key>leftAndRightArrow</key>
  <string>leftA_ndR_ightA_rrow.glif</string>
  <key>leftArrow</key>
  <string>leftA_rrow.glif</string>
  <key>leftBlackPointer</key>
  <string>leftB_lackP_ointer.glif</string>
  <key>leftBlock</key>
  <string>leftB_lock.glif</string>
  <key>leftDoubleArrow</key>
  <string>leftD_oubleA_rrow.glif</string>
  <key>leftRightArrow</key>
  <string>leftR_ightA_rrow.glif</string>
  <key>leftRightDoubleArrow</key>
  <string>leftR_ightD_oubleA_rrow.glif</string>
  <key>leftWhiteSmallTriangle</key>
  <string>leftW_hiteS_mallT_riangle.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>lessequal</key>
  <string>lessequal.glif</string>
  <key>lira</key>
  <string>lira.glif</string>
  <key>literSign</key>
  <string>literS_ign.glif</string>
  <key>lje-cy</key>
  <string>lje-cy.glif</string>
  <key>logicaland</key>
  <string>logicaland.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>logicalnotReversed</key>
  <string>logicalnotR_eversed.glif</string>
  <key>logicalor</key>
  <string>logicalor.glif</string>
  <key>longs</key>
  <string>longs.glif</string>
  <key>lowerHalfBlock</key>
  <string>lowerH_alfB_lock.glif</string>
  <key>lozenge</key>
  <string>lozenge.glif</string>
  <key>lslash</key>
  <string>lslash.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>mars</key>
  <string>mars.glif</string>
  <key>micro</key>
  <string>micro.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>minus.circled</key>
  <string>minus.circled.glif</string>
  <key>minusplus</key>
  <string>minusplus.glif</string>
  <key>minute</key>
  <string>minute.glif</string>
  <key>mu</key>
  <string>mu.glif</string>
  <key>muchgreater</key>
  <string>muchgreater.glif</string>
  <key>muchless</key>
  <string>muchless.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>multiply.circled</key>
  <string>multiply.circled.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>nacute</key>
  <string>nacute.glif</string>
  <key>napostrophe</key>
  <string>napostrophe.glif</string>
  <key>nbspace</key>
  <string>nbspace.glif</string>
  <key>ncaron</key>
  <string>ncaron.glif</string>
  <key>ncommaaccent</key>
  <string>ncommaaccent.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>ninesuperior</key>
  <string>ninesuperior.glif</string>
  <key>nje-cy</key>
  <string>nje-cy.glif</string>
  <key>nmod</key>
  <string>nmod.glif</string>
  <key>northEastArrow</key>
  <string>northE_astA_rrow.glif</string>
  <key>northWestArrow</key>
  <string>northW_estA_rrow.glif</string>
  <key>note-musical</key>
  <string>note-musical.glif</string>
  <key>notedbl-musical</key>
  <string>notedbl-musical.glif</string>
  <key>notelement</key>
  <string>notelement.glif</string>
  <key>notequal</key>
  <string>notequal.glif</string>
  <key>notidentical</key>
  <string>notidentical.glif</string>
  <key>notsubset</key>
  <string>notsubset.glif</string>
  <key>notsuperset</key>
  <string>notsuperset.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>nu</key>
  <string>nu.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>numero</key>
  <string>numero.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>obarred-cy</key>
  <string>obarred-cy.glif</string>
  <key>obreve</key>
  <string>obreve.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>ogonek</key>
  <string>ogonek.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>ohungarumlaut</key>
  <string>ohungarumlaut.glif</string>
  <key>omacron</key>
  <string>omacron.glif</string>
  <key>omega</key>
  <string>omega.glif</string>
  <key>omegatonos</key>
  <string>omegatonos.glif</string>
  <key>omicrontonos</key>
  <string>omicrontonos.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>oneeighth</key>
  <string>oneeighth.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>onesuperior</key>
  <string>onesuperior.glif</string>
  <key>operator.circled</key>
  <string>operator.circled.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>orthogonal</key>
  <string>orthogonal.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>oslashacute</key>
  <string>oslashacute.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>overline</key>
  <string>overline.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>parallel</key>
  <string>parallel.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>partialdiff</key>
  <string>partialdiff.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>peseta</key>
  <string>peseta.glif</string>
  <key>phi</key>
  <string>phi.glif</string>
  <key>phiSymbol</key>
  <string>phiS_ymbol.glif</string>
  <key>pi</key>
  <string>pi.glif</string>
  <key>piSymbol</key>
  <string>piS_ymbol.glif</string>
  <key>planckconstantovertwopi</key>
  <string>planckconstantovertwopi.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plus.circled</key>
  <string>plus.circled.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>prescription</key>
  <string>prescription.glif</string>
  <key>product</key>
  <string>product.glif</string>
  <key>proportion</key>
  <string>proportion.glif</string>
  <key>proportional</key>
  <string>proportional.glif</string>
  <key>psi</key>
  <string>psi.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quotereversed</key>
  <string>quotereversed.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>racute</key>
  <string>racute.glif</string>
  <key>radical</key>
  <string>radical.glif</string>
  <key>rcaron</key>
  <string>rcaron.glif</string>
  <key>rcommaaccent</key>
  <string>rcommaaccent.glif</string>
  <key>reflexsubset</key>
  <string>reflexsubset.glif</string>
  <key>reflexsuperset</key>
  <string>reflexsuperset.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>rho</key>
  <string>rho.glif</string>
  <key>rightArrow</key>
  <string>rightA_rrow.glif</string>
  <key>rightBlackPointer</key>
  <string>rightB_lackP_ointer.glif</string>
  <key>rightBlock</key>
  <string>rightB_lock.glif</string>
  <key>rightDoubleArrow</key>
  <string>rightD_oubleA_rrow.glif</string>
  <key>rightOverLeftArrow</key>
  <string>rightO_verL_eftA_rrow.glif</string>
  <key>rightWhiteSmallTriangle</key>
  <string>rightW_hiteS_mallT_riangle.glif</string>
  <key>righttack</key>
  <string>righttack.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>sacute</key>
  <string>sacute.glif</string>
  <key>scaron</key>
  <string>scaron.glif</string>
  <key>scedilla</key>
  <string>scedilla.glif</string>
  <key>schwa-cy</key>
  <string>schwa-cy.glif</string>
  <key>scircumflex</key>
  <string>scircumflex.glif</string>
  <key>scommaaccent</key>
  <string>scommaaccent.glif</string>
  <key>second</key>
  <string>second.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>servicemark</key>
  <string>servicemark.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>seveneighths</key>
  <string>seveneighths.glif</string>
  <key>sevensuperior</key>
  <string>sevensuperior.glif</string>
  <key>sha-cy</key>
  <string>sha-cy.glif</string>
  <key>shadedark</key>
  <string>shadedark.glif</string>
  <key>shadelight</key>
  <string>shadelight.glif</string>
  <key>shademedium</key>
  <string>shademedium.glif</string>
  <key>shcha-cy</key>
  <string>shcha-cy.glif</string>
  <key>sigma</key>
  <string>sigma.glif</string>
  <key>sigmafinal</key>
  <string>sigmafinal.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>sixsuperior</key>
  <string>sixsuperior.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>softsign-cy</key>
  <string>softsign-cy.glif</string>
  <key>southEastArrow</key>
  <string>southE_astA_rrow.glif</string>
  <key>southWestArrow</key>
  <string>southW_estA_rrow.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>spadeBlackSuit</key>
  <string>spadeB_lackS_uit.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>subset</key>
  <string>subset.glif</string>
  <key>suchthat</key>
  <string>suchthat.glif</string>
  <key>summation</key>
  <string>summation.glif</string>
  <key>sunWithRays</key>
  <string>sunW_ithR_ays.glif</string>
  <key>superset</key>
  <string>superset.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>tackdown</key>
  <string>tackdown.glif</string>
  <key>tackleft</key>
  <string>tackleft.glif</string>
  <key>tau</key>
  <string>tau.glif</string>
  <key>tbar</key>
  <string>tbar.glif</string>
  <key>tcaron</key>
  <string>tcaron.glif</string>
  <key>tcedilla</key>
  <string>tcedilla.glif</string>
  <key>tcommaaccent</key>
  <string>tcommaaccent.glif</string>
  <key>therefore</key>
  <string>therefore.glif</string>
  <key>theta</key>
  <string>theta.glif</string>
  <key>thetaSymbol</key>
  <string>thetaS_ymbol.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>threeeighths</key>
  <string>threeeighths.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>threesuperior</key>
  <string>threesuperior.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>tonos</key>
  <string>tonos.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>tse-cy</key>
  <string>tse-cy.glif</string>
  <key>tshe-cy</key>
  <string>tshe-cy.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>twosuperior</key>
  <string>twosuperior.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ubreve</key>
  <string>ubreve.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>uhungarumlaut</key>
  <string>uhungarumlaut.glif</string>
  <key>umacron</key>
  <string>umacron.glif</string>
  <key>umacron-cy</key>
  <string>umacron-cy.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>underscoredbl</key>
  <string>underscoredbl.glif</string>
  <key>uniEFBF</key>
  <string>uniE_F_B_F_.glif</string>
  <key>uniEFC0</key>
  <string>uniE_F_C_0.glif</string>
  <key>uniEFC1</key>
  <string>uniE_F_C_1.glif</string>
  <key>uniEFC2</key>
  <string>uniE_F_C_2.glif</string>
  <key>uniEFC3</key>
  <string>uniE_F_C_3.glif</string>
  <key>uniEFC4</key>
  <string>uniE_F_C_4.glif</string>
  <key>uniEFC5</key>
  <string>uniE_F_C_5.glif</string>
  <key>uniEFC6</key>
  <string>uniE_F_C_6.glif</string>
  <key>uniEFC7</key>
  <string>uniE_F_C_7.glif</string>
  <key>uniEFC8</key>
  <string>uniE_F_C_8.glif</string>
  <key>uniEFC9</key>
  <string>uniE_F_C_9.glif</string>
  <key>uniEFCA</key>
  <string>uniE_F_C_A_.glif</string>
  <key>uniEFCB</key>
  <string>uniE_F_C_B_.glif</string>
  <key>uniEFCC</key>
  <string>uniE_F_C_C_.glif</string>
  <key>uniEFCD</key>
  <string>uniE_F_C_D_.glif</string>
  <key>uniEFCE</key>
  <string>uniE_F_C_E_.glif</string>
  <key>uniEFCF</key>
  <string>uniE_F_C_F_.glif</string>
  <key>uniEFD0</key>
  <string>uniE_F_D_0.glif</string>
  <key>uniEFD1</key>
  <string>uniE_F_D_1.glif</string>
  <key>uniEFD2</key>
  <string>uniE_F_D_2.glif</string>
  <key>uniEFD3</key>
  <string>uniE_F_D_3.glif</string>
  <key>uniEFD4</key>
  <string>uniE_F_D_4.glif</string>
  <key>uniEFD5</key>
  <string>uniE_F_D_5.glif</string>
  <key>uniEFD6</key>
  <string>uniE_F_D_6.glif</string>
  <key>uniEFD7</key>
  <string>uniE_F_D_7.glif</string>
  <key>uniEFD8</key>
  <string>uniE_F_D_8.glif</string>
  <key>uniEFD9</key>
  <string>uniE_F_D_9.glif</string>
  <key>uniEFDA</key>
  <string>uniE_F_D_A_.glif</string>
  <key>uniEFDB</key>
  <string>uniE_F_D_B_.glif</string>
  <key>uniEFDC</key>
  <string>uniE_F_D_C_.glif</string>
  <key>uniEFDD</key>
  <string>uniE_F_D_D_.glif</string>
  <key>uniEFDE</key>
  <string>uniE_F_D_E_.glif</string>
  <key>uniEFDF</key>
  <string>uniE_F_D_F_.glif</string>
  <key>uniEFE0</key>
  <string>uniE_F_E_0.glif</string>
  <key>uniEFE1</key>
  <string>uniE_F_E_1.glif</string>
  <key>uniEFE2</key>
  <string>uniE_F_E_2.glif</string>
  <key>uniEFE3</key>
  <string>uniE_F_E_3.glif</string>
  <key>uniEFE4</key>
  <string>uniE_F_E_4.glif</string>
  <key>uniEFE5</key>
  <string>uniE_F_E_5.glif</string>
  <key>uniEFE6</key>
  <string>uniE_F_E_6.glif</string>
  <key>uniEFE7</key>
  <string>uniE_F_E_7.glif</string>
  <key>uniEFE8</key>
  <string>uniE_F_E_8.glif</string>
  <key>uniEFE9</key>
  <string>uniE_F_E_9.glif</string>
  <key>uniEFEA</key>
  <string>uniE_F_E_A_.glif</string>
  <key>uniEFEB</key>
  <string>uniE_F_E_B_.glif</string>
  <key>uniEFEC</key>
  <string>uniE_F_E_C_.glif</string>
  <key>uniEFFA</key>
  <string>uniE_F_F_A_.glif</string>
  <key>uniEFFB</key>
  <string>uniE_F_F_B_.glif</string>
  <key>uniEFFC</key>
  <string>uniE_F_F_C_.glif</string>
  <key>uniEFFD</key>
  <string>uniE_F_F_D_.glif</string>
  <key>uniEFFE</key>
  <string>uniE_F_F_E_.glif</string>
  <key>uniEFFF</key>
  <string>uniE_F_F_F_.glif</string>
  <key>union</key>
  <string>union.glif</string>
  <key>universal</key>
  <string>universal.glif</string>
  <key>uogonek</key>
  <string>uogonek.glif</string>
  <key>upArrow</key>
  <string>upA_rrow.glif</string>
  <key>upBlackTriangle</key>
  <string>upB_lackT_riangle.glif</string>
  <key>upDoubleArrow</key>
  <string>upD_oubleA_rrow.glif</string>
  <key>upDownArrow</key>
  <string>upD_ownA_rrow.glif</string>
  <key>upDownDoubleArrow</key>
  <string>upD_ownD_oubleA_rrow.glif</string>
  <key>upDownbaseArrow</key>
  <string>upD_ownbaseA_rrow.glif</string>
  <key>upWhiteSmallTriangle</key>
  <string>upW_hiteS_mallT_riangle.glif</string>
  <key>upperHalfBlock</key>
  <string>upperH_alfB_lock.glif</string>
  <key>upsilon</key>
  <string>upsilon.glif</string>
  <key>upsilondieresis</key>
  <string>upsilondieresis.glif</string>
  <key>upsilondieresistonos</key>
  <string>upsilondieresistonos.glif</string>
  <key>upsilontonos</key>
  <string>upsilontonos.glif</string>
  <key>uptack</key>
  <string>uptack.glif</string>
  <key>uring</key>
  <string>uring.glif</string>
  <key>ushort-cy</key>
  <string>ushort-cy.glif</string>
  <key>ustraightstroke-cy</key>
  <string>ustraightstroke-cy.glif</string>
  <key>utilde</key>
  <string>utilde.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>ve-cy</key>
  <string>ve-cy.glif</string>
  <key>venus</key>
  <string>venus.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>wacute</key>
  <string>wacute.glif</string>
  <key>wcircumflex</key>
  <string>wcircumflex.glif</string>
  <key>wdieresis</key>
  <string>wdieresis.glif</string>
  <key>weierstrass</key>
  <string>weierstrass.glif</string>
  <key>wgrave</key>
  <string>wgrave.glif</string>
  <key>whiteBullet</key>
  <string>whiteB_ullet.glif</string>
  <key>whiteCircle</key>
  <string>whiteC_ircle.glif</string>
  <key>whiteDiamond</key>
  <string>whiteD_iamond.glif</string>
  <key>whiteSmallSquare</key>
  <string>whiteS_mallS_quare.glif</string>
  <key>whiteSmilingFace</key>
  <string>whiteS_milingF_ace.glif</string>
  <key>whiteSquare</key>
  <string>whiteS_quare.glif</string>
  <key>whitesquarebracketleft</key>
  <string>whitesquarebracketleft.glif</string>
  <key>whitesquarebracketright</key>
  <string>whitesquarebracketright.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>xi</key>
  <string>xi.glif</string>
  <key>xor</key>
  <string>xor.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>ya-cy</key>
  <string>ya-cy.glif</string>
  <key>yacute</key>
  <string>yacute.glif</string>
  <key>yat-cy</key>
  <string>yat-cy.glif</string>
  <key>ycircumflex</key>
  <string>ycircumflex.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>yeru-cy</key>
  <string>yeru-cy.glif</string>
  <key>ygrave</key>
  <string>ygrave.glif</string>
  <key>yu-cy</key>
  <string>yu-cy.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zacute</key>
  <string>zacute.glif</string>
  <key>zcaron</key>
  <string>zcaron.glif</string>
  <key>zdotaccent</key>
  <string>zdotaccent.glif</string>
  <key>ze-cy</key>
  <string>ze-cy.glif</string>
  <key>zedescender-cy</key>
  <string>zedescender-cy.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zerosuperior</key>
  <string>zerosuperior.glif</string>
  <key>zeta</key>
  <string>zeta.glif</string>
  <key>zhe-cy</key>
  <string>zhe-cy.glif</string>
  <key>zhedescender-cy</key>
  <string>zhedescender-cy.glif</string>
</dict>
</plist>
