<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern2.hyphenminus</key>
  <array>
    <string>hyphen</string>
    <string>uni00AD</string>
    <string>uni2011</string>
  </array>
</dict>
</plist>
